body{
    background-color: lightseagreen;
    margin:30px 25px;
    border: 5px;
    
}



h1 {
    border: black 5px solid;
    margin: 30px 25px;;
   text-align: center  
    
}
    h2 {
        margin:  25px 50px;
    text-align: center 
    }
        h3 {
            margin: 30px 25px;
    text-align: center 
        }


div {
    
    margin: 20px 25px;
    display: grid;
    place-items: center;
}


p {
    
    margin: 50px;
    text-align: center
    
}

ul{
    text-align: center
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
text-decoration: none;
color: black;
text-transform: uppercase; 
}

